.primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
